@use '../abstracts' as *;
@use 'sass:map';

$card-types: (
  work: (
    color: $color-orange-300,
    icon: 'icon-work.svg',
  ),
  play: (
    color: $color-blue-300,
    icon: 'icon-play.svg',
  ),
  study: (
    color: $color-pink-400,
    icon: 'icon-study.svg',
  ),
  exercise: (
    color: $color-green-400,
    icon: 'icon-exercise.svg',
  ),
  social: (
    color: $color-purple-700,
    icon: 'icon-social.svg',
  ),
  self-care: (
    color: $color-yellow-300,
    icon: 'icon-self-care.svg',
  ),
);

$content-bg: $color-navy-900;
$content-bg-hover: $color-navy-800;

// match Figma
$card-header-heights: (
  sm: 2.375rem,
  md: 2.0625rem,
  lg: 2.8125rem,
);

// Two-tone background to mask border-radius bleed.

@mixin _card-split-bg-at($top, $bottom, $height) {
  background: linear-gradient(
    to bottom,
    $top 0 calc(#{$height} + #{$card-border-radius}),
    $bottom calc(#{$height} + #{$card-border-radius}) 100%
  );
}

@mixin card-split-bg($top, $bottom: $content-bg) {
  @each $bp, $height in $card-header-heights {
    @if $bp == sm {
      @include _card-split-bg-at($top, $bottom, $height);
    } @else if $bp == md {
      @include from-tablet {
        @include _card-split-bg-at($top, $bottom, $height);
      }
    } @else if $bp == lg {
      @include from-desktop {
        @include _card-split-bg-at($top, $bottom, $height);
      }
    }
  }
}

.card {
  padding-top: map.get($card-header-heights, sm);
  overflow: hidden;
  position: relative;
  border-radius: $card-border-radius;

  @include from-tablet {
    padding-top: map.get($card-header-heights, md);
  }

  @include from-desktop {
    padding-top: map.get($card-header-heights, lg);
  }

  @each $name, $data in $card-types {
    &--#{$name} {
      @include card-split-bg(map.get($data, color));

      .card__icon {
        background-image: card-icon($data);
      }

      &:hover {
        @include card-split-bg(map.get($data, color), $content-bg-hover);
      }
    }
  }

  // Icon positioning and sizing are visually tuned to match Figma.
  // Values are perceptual and intentionally not pixel-perfect.
  &__icon {
    $max-icon-width: 4.875rem;
    width: clamp(3.3125rem, 24%, $max-icon-width);
    aspect-ratio: 1 / 1;
    position: absolute;
    top: map.get($card-header-heights, sm) - $space-400;
    right: 0;
    transform: translate(-20%, -20%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include from-tablet {
      // Range: 768 -> 1024
      width: clamp(3.625rem, -0.125rem + 7.813vw, $max-icon-width);
      top: map.get($card-header-heights, md) - $space-300;
    }

    @include from-desktop {
      top: map.get($card-header-heights, lg) - $space-400;
    }
  }

  &__content {
    background: $content-bg;
    padding-block: 1.71875rem; // match Figma
    padding-inline: $space-300;
    border-radius: $card-border-radius $card-border-radius 0 0;
    position: relative;
    display: grid;
    grid-template-areas:
      'title actions'
      'hrs hrs-prev';
    align-items: center;
    row-gap: $space-100;

    &:hover {
      background: $content-bg-hover;
    }

    @include from-tablet {
      grid-template-areas:
        'title actions'
        'hrs hrs'
        'hrs-prev hrs-prev';
      padding-block: 1.59375rem; // match Figma
      padding-inline: 1.34375rem; // match Figma
    }

    @include from-desktop {
      padding-block: 1.9375rem; // match Figma
      padding-inline: 2.03125rem; // match Figma
    }
  }

  &__title {
    @include text-preset(5-medium);
    color: $color-white;
    grid-area: title;
  }

  &__actions {
    justify-self: end;
    cursor: pointer;
    grid-area: actions;
    width: 1.3125rem; // match Figma
    height: 100%;

    svg {
      display: block;
      color: $color-navy-200;
    }

    &:hover {
      svg {
        color: $color-white;
      }
    }
  }

  &__hrs {
    @include text-preset(3);
    color: $color-white;
    display: none;
    grid-area: hrs;
    overflow: hidden;
    text-overflow: ellipsis;

    &[data-active] {
      display: block;
    }

    @include from-tablet {
      @include text-preset(1);
      margin-top: $space-100;
    }

    @include from-desktop {
      margin-top: $space-200;
    }
  }

  &__hrs-prev {
    text-align: right;
    display: none;
    grid-area: hrs-prev;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;

    &[data-active] {
      display: block;
    }

    @include from-tablet {
      text-align: left;
      padding-left: 0em;
    }
  }
}
